<%- include("partials/header") %>
<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="x">Title</label>
    <input class="form-control" type="text" name="postTitle" value="" id="x">
  </div>
  <div class="form-group">
    <label for="y">Post</label>
    <textarea class="form-control" name="postContent" rows="8"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" name="publish">Publish</button>
</form>
